extends ./layout/general-layout/layout.pug
include ./layout/movieByQuery-layout/section-container.pug
include ./layout/movieByQuery-layout/pages-nave.pug
include ./layout/movieByQuery-layout/section-header.pug
include ./layout/movieByQuery-layout/sort-menu.pug

block container  
  main.main-container
    if movies && movies.length > 1  
      +sort-menu(route)   
    +pages-nave(pages, currentPage, route) 
    +section-header(headerTitle)
    if people
      .people-info
    +section-container(movies)
    +pages-nave(pages, currentPage, route) 
block script
  if people
    script(type="text/javascript").
      const peopleInfo = document.querySelector('.people-info');
      const people = "#{people}"
      console.log('wikipedia people=', people)
      fetch(`/wiki/?people=${people}`)
        .then(res => res.json())
        .then(doc => {
            if(doc[2].length){
              peopleInfo.innerHTML = `<p>${doc[2]} <a href=${doc[3]} target="_blank">(Wikipedia)</a><p/>`;
            
          }
        })
        .catch(console.error);