extends ./layout/general-layout/layout.pug
block container
  .article-view
    include ./layout/movieById-layout/movie-info.pug
    include ./layout/movieById-layout/video.pug
    include ./layout/movieById-layout/comments.pug
block script
  script(type="text/javascript" src="/static/js/script_youtube.js")
    
  
    