extends ./layout/general-layout/layout.pug
block container
  main.main-container
    .form-container
      .social-login
        a(href="/auth/github") #[img(src="/static/images/github.png" width="40px")] Sign up with github
        a(href="/auth/twitter") #[img(src="/static/images/twitter.png" width="40px")] Sign up with twiter
        a(href="/auth/google") #[img(src="/static/images/google.png" width="40px")] Sign up with google
      form.login(action="/register", method="post")
        h1 Register
        if usernameError.length > 0
          .error= usernameError
        input#username(type="text", name="username" placeholder="Username")
        if passwordError.length > 0
          .error= passwordError
        input#password(type="password", name="password", placeholder="Password")
        //- input#password(type="password", name="password2", placeholder="Confirm password")
        input(type="submit", value="Register")