@font-face {
  font-family: "Roboto";
  src: url("/static/font/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: bold;
  src: url("/static/font/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  src: url("/static/font/Roboto-Italic.ttf");
}
/* @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #808080;
  color: var(--text-color);
}
.container {
  display: grid;
  grid-template-columns: [section] 1fr [aside] minmax(200px, 0.3fr);
  grid-template-rows: [header] auto [section] 1fr [footer] auto;
  min-height: 100vh;
  background-color: var(--bg-container-color);
  grid-row-gap: 0.5em;
  box-sizing: border-box;
}
.article-view,
.main-container {
  grid-column: section;
  grid-row: section;
}
a[name] {
  padding-top: 200px;
  margin-top: -200px;
  display: inline-block; /* required for webkit browsers */
}
/*-------------------------------------
                   header
--------------------------------------*/

.header {
  grid-row: header;
  grid-column: span 2;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  background: #fafafa;
  background: var(--bg-container-color)
    linear-gradient(
      var(--gradian-color-1),
      var(--gradian-color-2),
      var(--gradian-color-1)
    );
  z-index: 1000;
  padding: 1em;
}
.header,
.left,
.middle,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0.5em;
}
.left {
  flex-wrap: nowrap;
}
.middle {
  margin: 0 auto 0.5em;
}
.menu:first-child,
.middle > a {
  margin-right: 1em;
}
.menu:last-child,
.right > a:last-child {
  margin-left: 1em;
}

.middle > a,
.menu,
.right .login,
.theme {
  padding: 0.8em;
  background: #e5e5e5;
  background: linear-gradient(
    var(--gradian-color-3),
    var(--gradian-color-1),
    var(--gradian-color-3)
  );
  border-radius: 5px;
  display: inline-block;
  box-sizing: border-box;
  color: #808080;
  color: var(--text-color);
  text-decoration: none;
}
.middle > a:hover,
.menu:hover,
.right .login:hover,
.theme:hover {
  background: #fff;
  background: linear-gradient(
    var(--gradian-color-1),
    var(--gradian-color-3),
    var(--gradian-color-1)
  );
}
.menu {
  position: relative;
  cursor: pointer;
}
.menu .arrow {
  font-size: 0.7em;
  margin-left: 0.3em;
}
.menu ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  background: #e0e0e0;
  background: var(--bg-clr-1);
  transform-origin: top center;
  transform: scale(1, 0);
  transition: all 200ms ease-in 300ms;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;
}
.menu:first-of-type ul {
  left: 0;
}
.menu:last-of-type ul {
  right: 0;
}
.menu:hover ul {
  visibility: visible;
  transform: scale(1, 1);
  transition-delay: 100ms;
  z-index: 100;
}
.menu li a {
  min-width: 15ch;
  padding: 1px 5px;
  display: flex;
  justify-content: space-between;
  color: #191919;
  color: var(--text-color-2);
  text-decoration: none;
}
.menu li a:hover {
  background: #191919;
  color: #e0e0e0;
  background: var(--text-color-2);
  color: var(--bg-clr-1);
}
/* .theme {
  display: inlinblock;
  vertical-align: middle;
} */
.theme {
  padding: 2px;
  margin-right: 1em;
  width: 2em;
}
.theme img {
  width: 100%;
  transform: rotate(-30deg);
}

.user-container {
  display: flex;
  justify-content: flex-end;
}
.user {
  box-sizing: border-box;
  position: relative;
  background: gray;
  background: radial-gradient(var(--gradian-color-1), var(--gradian-color-4));
  width: 3em;
  padding-top: 3em;
  height: 0;
  border-radius: 50%;
  margin-right: 1em;
}
.user-info {
  width: 150px;
  height: 200px;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 0 1em;
  background: #e0e0e0;
  background: var(--bg-clr-1);
  border: thick double var(--gradian-color-4);
  border-radius: 1em;
  color: #191919;
  color: var(--text-color-2);
  transform: scale(1, 0);
  transform-origin: top center;
  transition: transform 200ms ease-in 50ms;
  z-index: 10;
}
.user-info a {
  color: #191919;
  color: var(--text-color-2);
  text-decoration: underline;
  margin-bottom: 0.5em;
  display: block;
}
.user-info a:hover {
  color: brown;
}

.user-info .username {
  border-bottom: thin solid;
}
/* .user:hover{
  cursor: pointer;
} */
.user:hover .user-info {
  transform: scale(1, 1);
}
.user-first-letter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}
.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 50%;
}

/*****  search bar ********/
.search-wraper {
  display: inline-block;
}
#search {
  width: 100%;
  padding-left: 2em;
  border-radius: 15px 0 0 15px / 50% 0 0 50%;
  background: white;
  background: linear-gradient(
    var(--gradian-color-3),
    var(--gradian-color-1),
    var(--gradian-color-3)
  );
  color: #808080;
  color: var(--text-color);
}
.btn-submit,
.btn-options,
#search {
  border: none;
  height: 2rem;
  vertical-align: middle;
}
.btn-submit {
  width: 2rem;
  margin-right: -2rem;
  background-size: 100%;
  cursor: pointer;
  background: transparent url("/static/images/search.png") left center / 90%
    no-repeat;
  z-index: 1;
}
.btn-options {
  height: 2rem;
  position: relative;
  background: #fafafa;
  background: var(--bg-container-color);
  background: linear-gradient(
    var(--gradian-color-2),
    var(--gradian-color-1),
    var(--gradian-color-2)
  );
  border-radius: 0 15px 15px 0;
  box-sizing: border-box;
  padding: 0 0.5em;
  line-height: 1.7rem;
  font-size: 0.8rem;
}
.btn-options:hover {
  background: #e0e0e0;
  background: var(--bg-clr-1);
  background: linear-gradient(
    var(--gradian-color-1),
    var(--gradian-color-2),
    var(--gradian-color-1)
  );

  /* border-radius:  0 15px 0 0 / 0 50% 0 0; */
}
.btn-options:hover .search-options {
  visibility: visible;
  transform: scale(1, 1);
  transition-delay: 100ms;
}
/* .btn-options span{
  
  font-size: .8em;
} */
.search-options {
  visibility: hidden;
  position: absolute;
  top: 100%;
  right: 0;
  font-size: 0.7rem;
  background: #e0e0e0;
  background: var(--bg-clr-1);
  border: thin solid var(--text-color);
  padding-right: 0.5em;
  z-index: 100;
  transform: scale(1, 0);
  transform-origin: top center;
  transition: all 200ms ease-in 300ms;
}
.search-options .radio {
  display: flex;
  align-items: center;
}

/************************************************************/
/*-------------------------------------
                  footer
--------------------------------------*/
.footer {
  grid-column: span 2;
  grid-row: footer;
  border-top: thin solid var(--shadow-1);
}
.github {
  width: 40px;
  margin: 1em auto;
}
.github img {
  width: 100%;
}
.github:hover {
  transform: scale(1.1);
}
/*************************************************************/
/*-------------------------------------
                  general
--------------------------------------*/

* {
  outline: none;
}
/********************************************/
/*-------------------------------------
                   aside
--------------------------------------*/
.aside {
  grid-column: aside;
  grid-row: section;
}
.section-container-aside {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.section-container-aside .movie {
  width: 60%;
  margin: 1em auto;
}
.section-container-aside .poster-container {
  padding-top: 140%;
}
.aside > h1 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: normal;
  width: 12ch;
  margin: 0 auto;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid red;
  margin: 0 auto;
}

/******************************************************************/

/*-------------------------------------
            sort menu
--------------------------------------*/
.sort-menu {
  max-width: 300px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sort-menu a {
  text-transform: capitalize;
  color: #808080;
  color: var(--text-color);
}

.sort-menu a:hover {
  transform: scale(1.1) translateX(0.1em);
}

/**************************************************************/

/*-------------------------------------
            Section header
--------------------------------------*/
.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-header:last-of-type {
  margin-top: 2em;
}
.section-header a {
  text-decoration: none;
}
.section-header h1 {
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: normal;
  border-bottom: thin solid;
  text-transform: capitalize;
}
.people-info {
  padding: 0 1em;
}
.people-info a {
  color: #808080;
  color: var(--text-color-2);
}
/**************************************************************/

/*------------------------------------
            home header
------------------------------------*/
@keyframes home-button {
  100% {
  
    background: linear-gradient(
      var(--gradian-color-1),
      var(--gradian-color-3),
      var(--gradian-color-1)
    );
  }
}

.home-header {
  display: flex;
  justify-content: space-around;
}
.home-header a {
  position: relative;
  padding: 0.5em 1em;
  color: #808080;
  color: var(--text-color);
  text-decoration: none;
  border-radius: 5px;
  background: #e5e5e5;
  background: linear-gradient(
    var(--gradian-color-3),
    var(--gradian-color-1),
    var(--gradian-color-3)
  );
  animation: home-button 500ms ease-in 50ms 5  ;
}
.home-header a::after {
  position: absolute;
  right: 0.2em;
  content: ">>";
  opacity: 0;
}
.home-header a:hover {
  padding: 0.5em 1.5em 0.5em 0.5em;
  background: #fff;
  background: linear-gradient(
    var(--gradian-color-1),
    var(--gradian-color-3),
    var(--gradian-color-1)
  );
}
.home-header a:hover::after {
  opacity: 1;
}
/*-------------------------------------
            Section container
--------------------------------------*/
.section-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 0.4fr));
  grid-gap: 2em;
  padding: 1em;
  justify-content: center;
  /* grid-auto-flow: dense; */
  /* min-height: 50vh; */
}

.poster-container {
  position: relative;
  width: 100%;
  padding-top: 140%;
  border: 4px silver double;
}
.img-container {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  z-index: 1;
  background: black;
  background: linear-gradient(black, gray);
  transition: opacity 500ms linear 200ms;
}
.poster-container img {
  width: 100%;
  height: 100%;
}

.poster-container:hover .img-container {
  opacity: 0.1;
  transition-delay: 500ms;
}
.poster-container:hover .movie-year,
.poster-container:hover .movie-rating,
.poster-container:hover .movie-title {
  opacity: 0;
  transition-delay: 500ms;
}
.movie a {
  display: block;
  text-decoration: none;
  outline: none;
}
.movie-title,
.movie-year,
.movie-rating {
  color: white;
  font: italic 1rem sans-serif;
  padding: 3px;
  text-align: center;
  margin: 0;
  text-decoration: none;
  z-index: 1;
  transition: opacity 500ms ease-out 200ms;
}
.movie-year,
.movie-rating,
.movie-title {
  background: red;
}
.movie-info {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.movie-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.resume {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  color: #191919;
  color: var(--text-color-2);
  padding: 1em;
  box-sizing: border-box;
  overflow: hidden;
}
.resume h3,
.resume > span {
  text-align: center;
  font-size: small;
  font-weight: bold;
  margin: 0;
}
.resume p,
.resume span span {
  font-size: smaller;
  margin: 0;
} /*************************************************************************/

/*------------------------------------------
                Pages navigation
-------------------------------------------*/

.pages {
  display: flex;
  justify-content: center;
}
.pages-ellepsis {
  height: 2.5em;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-between;
}
.pages a {
  text-decoration: none;
  color: var(--text-color);
}
.pages a,
.current-page {
  min-width: 2em;
  height: 2em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #fff;
  background: radial-gradient(var(--gradian-color-1), var(--gradian-color-4));
  margin: 0.5em 0.3em;
  text-align: center;
}
.pages a:hover,
.current-page {
  color: white;
  background: #ccc;
  background: radial-gradient(var(--gradian-color-4), var(--gradian-color-1));
}
.pages a:active {
  transform: scale(0.9);
}

/******************************************************/
/*------------------------------------------
                Article view
-------------------------------------------*/

.article-view {
  padding: 0 1em;
  color: #191919;
  color: var(--text-color-2);
}
.article-view .title {
  font-weight: bold;
}
.article-view h1 {
  text-align: center;
}

.rating-star {
  color: yellow;
}
/***************************************************/

/********************************
       movie-view-info
******************************/
.movie-view-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2em;
}
.movie-info-poster {
  margin: 0 auto;
  max-width: 400px;
}
.movie-view-info a {
  color: #191919;
  color: var(--text-color-2);
}
.movie-view-info a:hover {
  color: #808080;
  color: var(--text-color);
}
.movie-view-info .title {
  grid-column: span 2;
}
.movie-info-poster img {
  width: 100%;
  min-width: 250px;
  min-height: 300px;
  border: none;
  box-shadow: 0 0 5px 2px var(--shadow-1);
}

.info {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}
.info h3,
.info p {
  margin: 0 0.5ch 0 0;
  clear: both;
}
.rating-out span {
  margin-left: 1ch;
}
.rating-out meter {
  max-width: 15em;
}
.plot {
  min-height: 3em;
  text-align: justify;
}
.plot::first-letter {
  font-size: 3em;
  float: left;
  line-height: 0.7em;
}

/***********************************************************/
/******************************
        video youtube
********************************/
.container-video {
  max-width: 750px;
  margin: 2em auto;
}
.video-container {
  position: relative;
  width: 100%;
  padding-top: 56.7%;
}
#player {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
img.loading {
  height: 100%;
}
.youtube-video-here {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: thin purple solid;
}
/*************************************************/

/*-------------------------------------
            Comments
--------------------------------------*/
.comment {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 1rem;
  margin: 1rem auto;
  /* width: 80%; */
}
.comment-text-container {
  grid-column: 2;
  grid-row: 2;
  border-left: thin gray solid;
  padding: 0.5em;
}
.user-creation {
  grid-column: 1;
  grid-row: 2;
}
.comment-text {
  padding: 0.5em;
  background: gray;
  background: var(--text-color);
  color: #fafafa;
  color: var(--bg-container-color);
  border-radius: 15px;
}
.comment p {
  margin: 0;
}
.comment .username {
  text-transform: capitalize;
}
.comment .comment-date {
  font-size: 0.8rem;
}
.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: thin gray solid;
  border-right: none;
  border-top: none;
  padding-left: 1em;
}
.form-add-comment-container {
  /* width: 80%; */
  margin: 1em auto;
  border-radius: 15px;
  padding: 1em;
  box-shadow: 0 0 5px 5px var(--bg-clr-1);
}
.add-comment {
  display: flex;
  flex-direction: column;
}
.add-comment button {
  align-self: flex-end;
  margin-top: 0.5em;
  border: thick double var(--bg-clr-1);
  background: #f0f0f0;
  background: var(--gradian-color-2);
  padding: 0.5em;
  border-radius: 1em / 50%;
  color: #808080;
  color: var(--text-color);
  cursor: pointer;
}
.add-comment button:hover {
  background: #e0e0e0;
  background: var(--bg-clr-1);
}
.add-comment textarea {
  resize: none;
  padding: 0.5em;
  font-size: 1.2em;
  border: thin var(--bg-clr-1) solid;
  border-radius: 15px;
  color: #191919;
  color: var(--text-color-2);
  background: #f0f0f0;
  background: var(--gradian-color-2);
}
.comments-container a {
  color: #808080;
  color: var(--text-color);
}
.comments-container a:hover {
  color: #191919;
  color: var(--text-color-2);
}

/*****************************************************************/
/*-------------------------------------
            main login
--------------------------------------*/
.form-container {
  width: 90%;
  min-height: 70vh;
  margin: 2em auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
  border-radius: 5px;
  box-shadow: 0 0 3px 3px var(--gradian-color-4) inset;
  padding: 0.5em;
}
form.local-login {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 1em;
  max-width: 90%;
  border-radius: 5px;
  box-shadow: 0 5px 2px 5px var(--gradian-color-4);
  margin: 1em 0;
}

.btn-social-login {
  display: block;
  width: 250px;
  padding: 0.5em;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  margin-bottom: 1em;
  background: #e5e5e5;
  background: linear-gradient(
    var(--gradian-color-3),
    var(--gradian-color-1),
    var(--gradian-color-3)
  );
  color: #808080;
  color: var(--text-color);
}
.btn-social-login:hover {
  background: #fff;
  background: linear-gradient(
    var(--gradian-color-1),
    var(--gradian-color-3),
    var(--gradian-color-1)
  );
}
.social-login img {
  vertical-align: middle;
  margin-right: 1em;
}
form.local-login input {
  box-sizing: border-box;
  height: 3em;
  margin: 1em;
}
/*************************************************************/
/*-------------------------------------
            media query
--------------------------------------*/

@media (max-width: 600px) {
  a[name] {
    padding-top: 0;
    margin-top: 0;
    /* display: inline-block; required for webkit browsers */
  }
  .container {
    grid-template-columns: [section] 1fr;
    grid-template-rows: [header] auto [aside] auto [section] 1fr [footer] auto;
    grid-row-gap: 0;
  }

  .aside {
    grid-row: aside;
    grid-column: section;
    margin-bottom: 1em;
  }

  .section-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .section-container-aside {
    flex-wrap: nowrap;
    overflow: auto;
    width: 95vw;
    margin: 0 auto;
  }
  .section-container-aside .movie {
    margin: 0.2em 0.5em 0;
  }
  .aside .movie-title,
  .aside .movie-year,
  .aside .movie-rating {
    font-size: 0.8rem;
  }
  .section-container-aside .poster-container {
    width: 100px;
    height: 140px;
    padding: 0;
  }
  .article-view,
  .main-container,
  .movie-info-poster,
  .infos {
    grid-column: span 2;
  }

  /* .nav-bare > ul > li > a{
    padding: .5em .3em ;
    margin: 0;
  } */

  /* .space, .nav-bare, form.search{
    flex: 0;
  } */
  .menu ul {
    max-height: 70vh;
    overflow: auto;
  }
  .header {
    position: static;
    /* flex-direction: column;
    justify-content: space-between; */
  }
  /*
  
  .user-container{
    align-self: flex-end;
  }
  .right{
    margin-top: .5em;
  }
  form.search{
    margin-bottom: .5em;
  }
   */
}
/***********************************************/
