@font-face {
  font-family: 'Roboto';
  src: url('/static/font/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  src: url('/static/font/Roboto-Bold.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  src: url('/static/font/Roboto-Italic.ttf');
}
/* @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}
.container {
  display: grid;
  grid-template-columns: [section] 1fr [aside] minmax(200px, 0.3fr);
  grid-template-rows: [header] auto [section] 1fr [footer] auto;
  min-height: 100vh;
  background-color: var(--bg-container-color);
  grid-row-gap: 1em;
}
.article-view,
.main-container {
  grid-column: section;
  grid-row: section;
}

/*-------------------------------------
                   header
--------------------------------------*/

.header {
  grid-row: header;
  grid-column: span 2; 
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(var(--gradian-color-1), var(--gradian-color-2), var(--gradian-color-1));
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  z-index: 1000;
  padding-top: .5em;
  color: var(--text-color);
}
.nav-bare {
  flex: 1;
  
}
.nav-bare .arrow{
  font-size: .7em;
  margin-left: .3em;
}
.nav-bare  ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-bare > ul > li {
  position: relative;

}
.nav-bare > ul > li > a{
  position: relative;
  padding:  .8em ;
  background: linear-gradient( var(--gradian-color-3), var(--gradian-color-1), var(--gradian-color-3));
  border-radius: 5px;
  margin-left: .3em;
  display: inline-block;
}
.nav-bare > ul > li > a:hover{
  background: linear-gradient(var(--gradian-color-1), var(--gradian-color-3), var(--gradian-color-1))
}
.nav-bare > ul > li > a{
  color: var(--text-color);
  text-decoration: none;
}
.nav-bare li ul{
  /* visibility: hidden; 
  position: absolute;
  top: 100%;
  left: 1em;
  background: var(--bg-clr-1);
  transform: scale(1, 0);
  transform-origin: top center;
  transition: all 200ms ease-in 300ms; */
  overflow: auto;
}
.nav-bare li:hover ul{
  visibility: visible;
  transform: scale(1, 1);
  transition-delay: 100ms;
}
.nav-bare li ul li a{
  min-width: 17ch;  
  padding: 1px 5px;
  display: flex;
  justify-content: space-between;
  color:  var(--text-color-2);
  text-decoration: none;
}
.nav-bare li ul li a:hover{
  background: var(--text-color-2);
  color:  var(--bg-clr-1);
}
.space, .theme{
  flex: 1;
  text-align: center;
}
.right{
  flex: 1;
}
.user-container{
  display: flex;
  justify-content: flex-end;
}
.user {
  box-sizing: border-box;
  position: relative;
  background: gray;
  background: radial-gradient(var(--gradian-color-1), var(--gradian-color-4));
  width: 3em;
  padding-top: 3em;
  height: 0;
  border-radius: 50%;
  margin-right: .5em;
}
.user-info {
  width: 150px;
  height: 200px;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 0 1em;
  background: var(--bg-clr-1);
  border: thick double var(--gradian-color-4);
  border-radius: 1em;
  color: var(--text-color-2);
  transform: scale(1, 0);
  transform-origin: top center;
  transition: transform 200ms ease-in 50ms;
}
.user-info a{
  color: var(--text-color-2);
  text-decoration: underline;
   margin-bottom: .5em;
   display: block;
}
.user-info a:hover{
  color: brown;
}

.user-info .username{
  border-bottom: thin solid ;
}
/* .user:hover{
  cursor: pointer;
} */
.user:hover .user-info {
  transform: scale(1, 1);
}
.user-first-letter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}

/*****  search bar ********/

form.search {
  display: flex;
  flex: 1;
}
.inner-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 1em;
}
.inner-form input {
  border: none;
  height: 2em;
  background-image: url('/static/images/search.png');
  background-color: white;
  /* background-position: 5px 5px; */
  background-repeat: no-repeat;
  background-size: 30px;
  padding-left: 35px;
  border-radius: 15px / 50%;
  border: thin solid var(--text-color);
}

.search-options {
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  color: var(--text-color);
}
.search-options .radio {
  display: flex;
  align-items: center;
  margin-right: 1ch;
}
.search-options input {
  outline: none;
}

/************************************************************/
/*-------------------------------------
                  footer
--------------------------------------*/
.footer {
  grid-column: span 2;
  grid-row: footer;
  /* background: var(--text-color-2);
  border-radius: 2em / 50%; */
  border-top: thin solid var(--shadow-1)
}
.github{
  width: 40px;
  margin: 1em auto;
}
.github img{
  width: 100%;
}
.github:hover{
  transform: scale(1.1)
}
/*************************************************************/
/*-------------------------------------
                  general
--------------------------------------*/
/* .radius {
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: normal;
  border-radius: 1em / 50%;
  padding: 0.5ch 2ch;
  border: thick double;
  color: var(--text-color);
} */
* {
  outline: none;
}
/********************************************/
/*-------------------------------------
                   aside
--------------------------------------*/
.aside {
  grid-column: aside;
  grid-row: section;
  padding-top: 1em;
  /* border-radius: 5px;
  box-shadow: 0 0 5px 2px var(--shadow-1) inset; */
}
.aside .section-container { 
  grid-template-columns: repeat(auto-fit, minmax(150px, 0.7fr));
}
.aside > h1 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: normal;
  width: 12ch;
  margin: 0 auto;
  color: var(--text-color);
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid red;
  margin: 0 auto;
}

/******************************************************************/



/*-------------------------------------
            sort menu
--------------------------------------*/
.sort-menu {
  max-width: 300px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sort-menu a {
  text-transform: capitalize;
  color: var(--text-color);
}

.sort-menu a:hover {
  transform: scale(1.1) translateX(0.1em);
}

/**************************************************************/

/*-------------------------------------
            Section header
--------------------------------------*/
.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-header:last-of-type {
  margin-top: 2em;
}
.section-header a {
  text-decoration: none;
}
.section-header h1 {
  margin: 0 auto;
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: normal;
  border-bottom: thin solid;
  text-transform: capitalize;
}

/**************************************************************/

/*-------------------------------------
            Section container
--------------------------------------*/
.section-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 0.4fr));
  grid-gap: 2rem;
  padding: 1rem;
  justify-content: center;
  grid-auto-flow: dense;
  min-height: 50vh;
}

.poster-container {
  position: relative;
  width: 100%;
  padding-top: 140%;
  border: 4px silver double;
}
.img-container {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  z-index: 1;
  background: black;
  transition: opacity 500ms linear 200ms;
}
.poster-container img {
  width: 100%;
  height: 100%;

}

.poster-container:hover .img-container {
  opacity: 0.1;
  transition-delay: 500ms;
}
.poster-container:hover .movie-year,
.poster-container:hover .movie-rating,
.poster-container:hover .movie-title {
  opacity: 0;
  transition-delay: 500ms;
}
.movie a {
  display: block;
  text-decoration: none;
  outline: none;
}
.movie-title,
.movie-year,
.movie-rating {
  color: white;
  font: italic 1rem sans-serif;
  padding: 3px;
  text-align: center;
  margin: 0;
  text-decoration: none;
  z-index: 1;
  transition: opacity 500ms ease-out 200ms;
}
.movie-year,
.movie-rating,
.movie-title {
  background: red;
}
.movie-info {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.movie-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.resume {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  color: var(--text-color-2);
  padding: 1em;
  box-sizing: border-box;
  overflow: hidden;
}
.resume h3,
.resume > span {
  text-align: center;
  font-size: small;
  font-weight: bold;
  margin: 0;
}
.resume p,
.resume span span {
  font-size: smaller;
  margin: 0;
} /*************************************************************************/


/*------------------------------------------
                Page navigation
-------------------------------------------*/
/* .pages {
  border: 1px solid #0ff;
} */
.pages ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
/* .pages li{
  margin: .6em .3em;
} */
.pages a{
  text-decoration: none;
  color: var(--text-color);
}
.page, .current-page {  
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: gray;
  background: radial-gradient(var(--gradian-color-1), var(--gradian-color-4));
  margin: .1em .3em;
}
.page:hover, .current-page {
  color: white;
  background: radial-gradient(var(--gradian-color-4), var(--gradian-color-1) );
}
.page:active{
  transform: scale(0.9)
}

/******************************************************/
/*------------------------------------------
                Article view
-------------------------------------------*/

.article-view{
  padding: 0 1em;
}
.article-view .title {
  font-weight: bold;
}
.article-view h1 {
  text-align: center;
}

.rating-star {
  color: yellow;
}
/***************************************************/


/********************************
       movie-view-info
******************************/
.movie-view-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2em;
}
.movie-info-poster{
  margin: 0 auto;
   max-width: 400px;

}
.movie-view-info a {
  color: var(--text-color-2);
}
.movie-view-info a:hover{
  color: var(--text-color);
}
.movie-view-info .title {
  grid-column: span 2;
}
.movie-info-poster img {
  width: 100%;
  min-width: 250px;
  min-height: 300px;
  border: none;
  box-shadow: 0 0 5px 2px var(--shadow-1);
}

.info {
  display: flex;
  align-items: baseline;
  /* flex-wrap: wrap; */
}
.info h3,
.info p {
  margin: 0 0.5ch 0 0;
  clear: both;
}
.rating-out span {
  margin-left: 1ch;
}
.rating-out meter {
  max-width: 15em;
}
.plot {
  min-height: 3em;
  text-align: justify;
}
.plot::first-letter {
  font-size: 3em;
  float: left;
  line-height: 0.7em;
}

/***********************************************************/
/******************************
        video youtube
********************************/
.container-video {
  max-width: 750px;
  margin: 2em auto;
}
.video-container {
  position: relative;
  width: 100%;
  padding-top: 56.7%;
}
#player {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
img.loading{
  height: 100%;
}
.youtube-video-here {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: thin purple solid;
}
/*************************************************/

/*-------------------------------------
            Comments
--------------------------------------*/
.comment {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 1rem;
  margin: 1rem auto;
  /* width: 80%; */
 
}
.comment-text-container {
  grid-column: 2;
  grid-row: 2;
  border-left: thin gray solid;
  padding: 0.5em;
}
.user-creation {
  grid-column: 1;
  grid-row: 2;
}
.comment-text {
  padding: 0.5em;
  background: var(--bg-clr-1);
  border-radius: 15px;
}
.comment p {
  margin: 0;
}
.comment .username {
  text-transform: capitalize;
}
.comment .comment-date {
  font-size: 0.8rem;
}
.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: thin gray solid;
  border-right: none;
  border-top: none;
  padding-left: 1em;
}
.form-add-comment-container{
   /* width: 80%; */
   margin: 1em auto;
    border-radius: 15px;
   padding: 1em;
  box-shadow: 0 0 5px 5px var(--bg-clr-1);
}
.add-comment {
  display: flex;
  flex-direction: column;
  
}
.add-comment button {
  align-self: flex-end;
  margin-top: .5em;
  border: thick double var(--bg-clr-1); 
  background: var(--gradian-color-2);
  padding: .5em;
  border-radius: 1em / 50%;
  color: var(--text-color);
  cursor: pointer;
}
.add-comment button:hover{
  background: var(--bg-clr-1);
}
.add-comment textarea {
  resize: none;
  padding: 0.5em;
  font-size: 1.2em;
  border: thin var(--bg-clr-1) solid;
  border-radius: 15px;
  color: var(--text-color);
  background: var(--bg-clr-1);
 
}

/*****************************************************************/
/*-------------------------------------
            main login
--------------------------------------*/
 .form-container{
/* border: thin solid; */
width: 90%;
height: 80vh;
margin: 2em auto;
display: flex;
justify-content: center;
align-items: center;
border-radius: 5px;
box-shadow: 0 0 3px 3px var(--gradian-color-4) inset;
} 
form.login{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* border: thin blue solid; */
  padding: 1em;
  max-width: 90%;
  border-radius: 5px;
  box-shadow: 0 5px 2px 5px var(--gradian-color-4);
}
form.login input{
  box-sizing: border-box;
  height: 3em;
  margin: 1em;
}
/*************************************************************/
/*-------------------------------------
            media query
--------------------------------------*/

@media (max-width: 720px) {
  .aside {
    display: none;
  }
  .article-view,
  .main-container,
  .movie-info-poster,
  .infos {
    grid-column: span 2;
  }
  .main-container {
    grid-template-columns: 1fr;
  }
  .section-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  
  .nav-bare > ul > li{
    padding: .5em .3em ;
    margin: 0;
  }
  .header{
    justify-content: space-between
  }
  .right, .space, .nav-bare, form.search{
    flex: 0;
  }
  .nav-bare li ul{
    max-height: 70vh;
  }
  .header{
    position: static;
  }
 
}
/***********************************************/
