.fiveer
  a(itemprop='url' href='https://www.fiverr.com/yakhousam' rel='nofollow' target='_blank' style='display: inline-block;')
    .fiveer-container
      .fiveer-img-container
        img.fiverr-stars(src='/static/images/star5.png')
        img.fiverr-logo(src='/static/images/fiverr-logo.png')
      .fiveer-title Check out my Gigs