doctype html
html(lang="en")
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/static/css/style.css")
    title= title
  style.
    .nav-bare li ul{visibility: hidden;position: absolute;top: 100%;left: 1em;background: #e0e0e0;transform: scale(1, 0);transform-origin: top center; transition: all 200ms ease-in 300ms;display: inline-block;}
  body
    block body
      block header
          include ./header.pug 
      .container              
        block container
        block aside
          include ./aside.pug 
        block foot
          footer.footer
            .github
              a(href="https://github.com/yakhousam/movies-streaming" target="_blank")
                img(src="/static/images/github.png" alt="github")
        block script